<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="icon" type="image/svg+xml" href="{{ site.favicon }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.favicon }}">

    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="https://willkelly.dev/assets/hyperbola-on-white.png">
    <meta property="og:url" content="https://willkelly.dev">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ site.socialMedia.twitterHandle }}">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:creator" content="{{ site.author }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="https://willkelly.dev/assets/hyperbola-on-white.png">

    {% block head %}{% endblock %}

    {% if css %}
    <link rel="stylesheet" href="/css/{{ css }}">
    {% endif %}
  </head>
  <body>
    {% block body %}
    {{ content | safe }}
    {% endblock %}

    {% if script %}
    <script src="/scripts/{{ script }}"></script>
    {% endif %}

    {% block extra_scripts %}{% endblock %}

    {% block footer %}{% endblock %}
  </body>
</html>