:root {
	--off-white: #f2f3f4;
	--off-black: #3d3d3d;
	--off-black-darker: #222222;
	--paper: #fffbf6;
	--red-type: #c8392b;
	--page-width: 60vw;
}

html {
	overflow-x: hidden;
}

body {
	background-color: var(--paper);
	color: var(--off-black);
	font-family: "Palatino Linotype", Palatino, "Book Antiqua", Georgia, serif;
}

a.red-type {
	color: var(--red-type);
	text-decoration: none;
}

a.red-type:hover {
	background-color: inherit;
	color: var(--red-type);
	text-decoration: underline;
}

article {
	margin: 5vh auto;
	max-width: var(--page-width);
}

.fit-image {
	display: block;
	height: auto;
  	margin: 0 auto;
	width: 50%;
}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.red-type {
	color: var(--red-type);
}

.short-margin {
	margin-top: 1em;
	margin-bottom: 2em;
}

.tall-margin {
	margin-top: 3em;
	margin-bottom: 4em;
}