html {
	background-color: var(--paper);
}

body {
	background-color: var(--paper);
}

a {
	color: var(--red-type);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	display: block;
	height: auto;
  	margin: 0 auto;
	width: 50%;
}

@media (max-width: 750px) {
	img {
		width: 80%;
	}
}

@media (max-width: 500px) {
	img {
		width: 95%;
	}
}