---
layout: page.njk
permalink: /index.html
css: home.css
---

{% include "components/header.njk" %}

<article>
	<p>Welcome. Under construction.</p>
	<p>See who I <a href="/about/">am</a>.</p>
	<p>See what I <a href="/notebook/">think</a>.</p>
	<p>See what I <a href="/knowledge/">know</a>.</p>
	<p>See my <a href="/mind/">project</a> to collect writings by history's inspired minds.</p>
	<p><img src="/assets/skeleton.png" alt="https://wellcomecollection.org/works/gswvaqb5/items"></p>
</article>
