---
layout: buddha.njk
css: mind.css
---

<section id="buddha" class="fade-in">
	<!-- This is the Standing Buddha of Gandhara, if you wanted to know. -->
	<img src="/assets/buddha.webp" id="gandhara-buddha"/>
	<div id="page-intro">
		<p id="tagline">The Work of the Mind</p>
		<br>
		<p class="narrow-col">The mind is <i>illuminated</i> by a vision, suddenly, revealing the truth, making a great discovery. What conditions <i>cause</i> such a thing?</p>
	</div>
</section>
<section id="thinkers" class="fade-in">
	{% for thinker in collections.thinkers %}
	<div id="{{ thinker.data.name }}" class="thinker-container">
		<p class="thinker-name">{{ thinker.data.name }}</p>
		{% for work in thinker.data.works %}
		<p class="work"><a class="work-url" href="{{ work.url }}">{{ work.data.title }} {% if work.data.year %}({{ work.data.year }}){% endif %}</a></p>
		{% endfor %}
	</div>
	{% endfor %}
</section>