---
layout: notebook.njk
description: For writing, philosophic and technical.
---

<h3 class="frontispiece">WILLIAM KELLY'S</h3>
<h5 class="frontispiece">COLLECTED</h5>
<h1 class="frontispiece">WRITINGS</h1>

<img src="/assets/planets.png" id="frontispiece-image" class="fit-image" alt="Joannis Kepleri Astronomi Opera Omnia Vol. 1 (1858)" />

<hr class="hr-short tall-margin">

<ul class="post-list">
{% for note in collections.notebook | sort(true, false, "date") %}
  <li class="flex-column">
    <a href="{{ note.url }}" class="red-type" style="align-self: flex-start;">{{ note.data.title }}</a>
    <p class="post-desc" style="align-self: flex-end;">{{ note.data.description }}</p>
  </li>
{% endfor %}
</ul>

{% include "components/footer.njk" %}